@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    a, button{
        @apply cursor-handcursor;
    }
    .fullwidthsection {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
      }
      ul li{
        list-style-type: square;
      }
}