
---
import Link from '../components/Link.astro';
---
<div x-data="{ showmenu: false }" class="" >
<div id="navbar" class="p-4 fixed right-0 lg:fixed z-50">
    <button id="burgermenu" class="" x-on:click="showmenu = ! showmenu"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
      </button>
</div>
<nav id="mobilmenu" class="fixed top-0 bottom-0 right-0 left-0 bg-slate-50 z-40" 
x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false">
    <ul class="flex flex-col h-full justify-center [&_li]:text-center [&_li]:py-2 [&_li]:list-none">
        <div class="md:columns-2 gap-8 pt-4 max-w-screen-md mx-auto">
            <li><Link href="#rollingbanner" alt="">Rolling/marquee banner</Link></li>
			<li><Link href="#lydeffekter" alt="">Lydeffekter</Link></li>
			<li><Link href="#customcursor" alt="">Custom cursor</Link></li>
			<li><Link href="#videoonhover" alt="">:hover video</Link></li>
			<li><Link href="#foerstemotiononestump" alt="">Animation med Motion One</Link></li>	
			<li><Link href="#entranceanimation" alt="">Entrance animation</Link></li>
			<li><Link href="#inview" alt="">inView</Link></li>	
			<li><Link href="#stagger" alt="">Stagger</Link></li>
			<li><Link href="#timelineanimation" alt="">Timeline animation</Link></li>	
			<li><Link href="#inviewandreturn" alt="">inView & return animation</Link></li>		
			<li><Link href="#crossfade" alt="">Crossfade on scroll</Link></li>
			<li><Link href="#scrollogzoom" alt="">Scrollzoom</Link></li>
			<li><Link href="#parallaxmedtekstbox" alt="">Parallax med tekstboks</Link></li>
			<li><Link href="#parallaxgrafik" alt="">Parallaxgrafik</Link></li>
			<li><Link href="#stickysektioner" alt="">Sticky stuff</Link></li>
            <li><Link href="#stickyscroll" alt="">Stickyscroll med infobokse</Link></li>
			<li><Link href="#horisontalscroll" alt="">Horisontal scroll</Link></li>
			<li><Link href="#mangesektioner" alt="">Sektion med mange elementer der animerer ind</Link></li>
			<li><Link href="#videoscrubber" alt="">Videoscrubber</Link></li>
			<li><Link href="#progressbar" alt="">Progress-bar</Link></li>
		</div>
    </ul>
</nav>
</div>

<div class="container max-w-4xl mx-auto px-8 py-16 prose">
    <h1 class="uilirheading text-4xl lg:text-9xl mb-8">UI lir</h1>
    <p class="text-2xl">Mikrointeraktioner og animationer til dit UI</p>
</div>
<section class="whitespace-nowrap overflow-x-hidden bg-pink-800 text-white py-4">
    <div class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-6 ">
        <span>UI Lir</span>
        <span>Fede effekter</span>
        <span>Flotte animationer</span>
        <span>Høje lyde</span>
        <span>Livlige og levende webløsninger</span>
        <span>UI & UX</span>
        <span>Interaktioner</span>
        <span>Mikroanimationer</span>
        <span>Mega fedt!</span>
        <span>Dit site bliver bedre!</span>
    </div>
    <div class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-6 " aria-hidden="true">
        <span>UI Lir</span>
        <span>Fede effekter</span>
        <span>Flotte animationer</span>
        <span>Høje lyde</span>
        <span>Livlige og levende webløsninger</span>
        <span>UI & UX</span>
        <span>Interaktioner</span>
        <span>Mikroanimationer</span>
        <span>Mega fedt!</span>
        <span>Dit site bliver bedre!</span>
    </div>
</section>